<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/destination.png" alt="">
  </div>
  <div class="headings">
    <h2>Courier destinations</h2>
    <h3>By Cohort 1</h3>
    <a href="/destination" class="btn">View Destination</a>
  </div>
</header>


<%- include('partials/footer'); -%>